#outercontainer{
    border: 1px solid black;
    width: 600px; 
    height: 400px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.innercontainer{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    margin: 100px;
    margin: 10px;
    background-color: #4542f5;



    
}

body{
    height: 100vh;
}




}
